<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
    </div>
  </div>
	<div class="row">
		<div class="col-4">
			<ul class="list-group" *ngIf="(flights$)">
        <a href="#" class="list-group-item list-group-item-action"
        (click) = "onFlightClick(item)"
        *ngFor="let item of flights$">
          {{item.aircraft.icaoCode}}
        </a>
      </ul>
		</div>
    <div class="col-8">
      <div id="map-holder">
        <div #map></div>
      </div>
    </div>
	</div>
</div>