<div class="col-12">
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="#">Aircraft</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Airline</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Arrival</a>
				</li>
			</ul>
		</div>
		<div class="card-body text-left">
      <aircraft-details></aircraft-details>
		</div>
	</div>
</div>